body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}

* {
    box-sizing: border-box;
}

#register {
    width: 800px;
    height: 450px;
    margin: 139px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #ccc;
}


/* Right Section */
.right {
    float: right;
    height: 100%;
    width: 60%;
    border-radius: 0 20px 20px 0;

}


/* Left Section */

.left {
    float: left;
    height: 100%;
    width: 40%;
    border-radius: 20px 0 0 20px;
    padding-top: 120px;
    text-align: center;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
    color: #fff;

}


.left p {
    font-size: 18px;
    margin: auto;
    padding-top: 10px;
    line-height: 28px;
}

.left .sign-btn{
    text-decoration: none;
    border: 1px solid #fff;
    padding: 7px 15px;
    border-radius: 12px;
    color: #fff;
    margin-top: 24px;
    display: inline-block;
    transition: 0.25s;

}

.left .sign-btn:hover{
    background: #fff;
    color: black;
    transition: 0.25s;
}

/* Right Section */

#register .right {
    /* background-color: green; */
    width: 60%;
    float: right;
    height: 100%;
    border-radius:  0 20px 20px 0;
    margin-top: 40px;
    text-align: center;
}

#register .right h2 {
    color: #0097A7;
    margin-bottom: 30px;
}

#register .form .input {
    width: 70%;
    border: none;
    margin-top: 10px;
    background-color: #EEEEEE;
    padding: 15px 15px 15px 40px;
    border-radius: 3px;
}

#register .form .input:focus{
    background-color: #E0E0E0;
}

#register .form .signup-btn{
    margin-top: 20px;
    padding: 15px 50px;
    border-radius: 50px;
    border: 1px solid #0097A7;
    background-color: #0097A7;
    color: #fff;
    transition: 0.25s;
}

#register .form .signup-btn:hover{
    border: 1px solid #0097A7;
    background-color: #fff;
    cursor: pointer;
    color: #000;
}

#register .form .input-logo {
    width: 20px;
    position: relative;
    top: 5px;
    left: 35px;
    opacity: 0.5;
}